{namespace boc=TYPO3\Beautyofcode\ViewHelpers}

<f:layout name="InlineJavascript" />

<f:section name="Main">
	<f:if condition="{settings.includeAsDomReady} == 'jquery'">
		<f:then>
			<f:render section="JqueryOnReady" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render section="StandaloneOnReady" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>

<script type="text/javascript">
	<f:section name="JqueryOnReady">
		;(function ($) {
			${settings.onReadyCallback}
				<f:render section="Syntaxhighlighter" arguments="{_all}" />
			});
		})(jQuery);
	</f:section>

	<f:section name="StandaloneOnReady">
		<![CDATA[
			window.onDomReady = initReady;

			function initReady(fn) {
				if (document.addEventListener) {
					document.addEventListener('DOMContentLoaded', fn, false);
				} else {
					document.onreadystatechange = function () { readyState(fn) };
				}
			}

			function readyState(func) {
				if (document.readyState == 'interactive' || document.readyState == 'complete') {
					func();
				}
			}

			window.onDomReady(onReady);
		]]>

		function onReady() {
			<f:render section="Syntaxhighlighter" arguments="{_all}" />
		};
	</f:section>


	<f:section name="Syntaxhighlighter">
		SyntaxHighlighter.autoloader(
			<f:render section="Brushes" arguments="{ filePathScripts: filePathScripts, brushes: brushes }" />
		);

		<f:if condition="{settings.config.strings}">
			<f:render section="LanguageStrings" arguments="{ strings: settings.config.strings }" />
		</f:if>

		<f:if condition="{settings.defaults}">
			<f:render section="Defaults" arguments="{ defaults: settings.defaults }" />
		</f:if>

		SyntaxHighlighter.all();
	</f:section>

	<f:section name="Brushes">
			'plain	{filePathScripts}shBrushPlain.js'
		<f:for each="{brushes}" key="cssTag" as="brush">
			,'{cssTag}	{filePathScripts}shBrush{brush}.js'
		</f:for>
	</f:section>

	<f:comment>
		strings not available in v3: (!= && != ..)
			- viewSource
			- copyToClipboard
			- copyToClipboardConfirmation
			- print
	</f:comment>

	<f:section name="LanguageStrings">
		<f:for each="{strings}" key="key" as="value">
			SyntaxHighlighter.config.strings.{key} = "{value}";
		</f:for>
	</f:section>

	<f:comment>
		defaults not available in v3: ($key != ...)
			- toolbar
	</f:comment>

	<f:section name="Defaults">
		<f:for each="{defaults}" key="key" as="value">
			SyntaxHighlighter.defaults['{key}'] = {value};
		</f:for>
	</f:section>
</script>