{namespace boc=TYPO3\Beautyofcode\ViewHelpers}
<f:layout name="Standalone" />

<boc:pageRenderer.addCssFile file="{boc:standaloneAssetPath(baseUrl: {boc:makeAbsolute(url: settings.baseUrl)}, resourcePath: {settings.styles}, type: 'styles')}shCore.css" />
<boc:pageRenderer.addCssFile file="{boc:standaloneAssetPath(baseUrl: {boc:makeAbsolute(url: settings.baseUrl)}, resourcePath: {settings.styles}, type: 'styles')}shCoreDefault.css" />

<f:if condition="{settings.theme}">
	<boc:pageRenderer.addCssFile file="{boc:standaloneAssetPath(baseUrl: {boc:makeAbsolute(url: settings.baseUrl)}, resourcePath: {settings.styles}, type: 'styles')}shTheme{settings.theme}.css" />
</f:if>

<f:render section="Main" />

<boc:pageRenderer.addJsFooterLibrary name="boc_standalone_core" file="{boc:standaloneAssetPath(baseUrl: {boc:makeAbsolute(url: settings.baseUrl)}, resourcePath: {settings.scripts}, type: 'scripts')}shCore.js" />
<boc:pageRenderer.addJsFooterLibrary name="boc_standalone_autoloader" file="{boc:standaloneAssetPath(baseUrl: {boc:makeAbsolute(url: settings.baseUrl)}, resourcePath: {settings.scripts}, type: 'scripts')}shAutoloader.js" />

<boc:pageRenderer.addJsFooterInlineCode name="boc_inline">
	<f:render partial="InlineJavascript/Standalone" section="Main" arguments="{ brushes: flexform.standaloneBrushesForAutoloader }" />
</boc:pageRenderer.addJsFooterInlineCode>