{namespace boc=FelixNagel\Beautyofcode\ViewHelpers}
<f:layout name="Standalone" />

<f:asset.css identifier="beautyofcode-syntaxhighlighter-css-core"
						 href="{boc:standaloneAssetPath(baseUrl: '{settings.baseUrl}', resourcePath: settings.styles, type: 'styles')}shCore.css"/>
<f:asset.css identifier="beautyofcode-syntaxhighlighter-css-core-default"
						 href="{boc:standaloneAssetPath(baseUrl: '{settings.baseUrl}', resourcePath: settings.styles, type: 'styles')}shCoreDefault.css"/>

<f:if condition="{settings.theme}">
	<f:asset.css identifier="beautyofcode-syntaxhighlighter-css-core"
							 href="{boc:standaloneAssetPath(baseUrl: '{settings.baseUrl}', resourcePath: settings.styles, type: 'styles')}shTheme{settings.theme}.css"/>
</f:if>

<f:render section="Main" />

<f:asset.script identifier="beautyofcode-syntaxhighlighter-js-core"
								src="{boc:standaloneAssetPath(baseUrl: '{settings.baseUrl}', resourcePath: settings.scripts, type: 'scripts')}shCore.js" />
<f:asset.script identifier="beautyofcode-syntaxhighlighter-js-autoloader"
								src="{boc:standaloneAssetPath(baseUrl: '{settings.baseUrl}', resourcePath: settings.scripts, type: 'scripts')}shAutoloader.js" />

<f:asset.script identifier="beautyofcode-syntaxhighlighter-js-init" useNonce="true">
	<f:render partial="InlineJavascript/SyntaxHighlighter" section="Main" arguments="{ brushes: flexform.autoloaderBrushMap }" />
</f:asset.script>
