<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>beautyOfCode template file</title>
</head>
<body>

<h3>Main template</h3>
<!-- ###TEMPLATE_MAIN### begin -->
<div class="tx_beautyofcode_pi1">
	###CODE###
	###LABEL###
</div>
<!-- ###TEMPLATE_MAIN### end -->

<h3>Label template</h3>
<p>Replaces ###LABEL### in main template</p>
<!--###TEMPLATE_LABEL###-->
<em>###LABEL###</em>
<!--###TEMPLATE_LABEL###-->

</body>
</html>
